---
const { date } = Astro.props;
---

<span data-timeago={date}></span>
<script>
    import { timeAgo } from '../js/timeAgo.js';
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('[data-timeago]').forEach((el) => {
            (el as HTMLElement).textContent = timeAgo((el as HTMLElement).dataset.timeago);
        });
    });
</script>
